{% extends "blog/base.html" %}
{% block title %}Eliminar publicación{% endblock %}
{% block content %}
<div class="card shadow-sm mb-4 border-0">
    <div class="card-body">
        <h4 class="card-title">Eliminar publicación</h4>
    </div>
</div>
<div class="card shadow-sm mb-4 border-0">
    <div class="card-body">
        <p class="card-text">¿Estás seguro de que deseas eliminar la publicación "{{ post.title }}"?</p>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Eliminar</button>
            <a href="{% url 'post_list' %}" class="btn btn-secondary"><i class="bi bi-x-circle"></i> Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}